.title {
    color: green; font-size: xx-large; font-weight: bolder; text-align: center;
}

.turma {
    color: brown; font-size: x-large; font-weight: bold; 
}

.link {
    font-size: larger; font-weight: bold;
}